<html>
<h1>This is updated new cookbooks</h1>
<h2>This details information of Node is as follow: </h2>
<h2> os : <%=@os%></h2><br>
<h2> Private_IP : <%=@P_ip%></h2><br>
<h2> Private_Domain : <%= @P_domain%></h2><br>
</html>

